[submodule "config-server"]
	path = config-server
	url = https://github.com/saliou-conde/config-server.git
[submodule "discovery"]
	path = discovery
	url = https://github.com/saliou-conde/discovery.git
[submodule "gateway"]
	path = gateway
	url = https://github.com/saliou-conde/gateway.git
[submodule "customer"]
	path = customer
	url = https://github.com/saliou-conde/customer.git
[submodule "notification"]
	path = notification
	url = https://github.com/saliou-conde/notification.git
[submodule "order"]
	path = order
	url = https://github.com/saliou-conde/order.git
[submodule "payment"]
	path = payment
	url = https://github.com/saliou-conde/payment.git
[submodule "product"]
	path = product
	url = https://github.com/saliou-conde/product.git
