[submodule "config-server"]
	path = config-server
	url = https://github.com/saliou-conde/config-server.git
[submodule "discovery"]
	path = discovery
	url = https://github.com/saliou-conde/discovery.git
[submodule "gateway"]
	path = gateway
	url = https://github.com/saliou-conde/gateway.git
[submodule "customer"]
	path = customer
	url = https://github.com/saliou-conde/customer.git
